@import "navbar.css";
@import "initialApresentation.css";
@import "animationsHome.css";
@import "keyframes.css";
@import "about.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;600;700&family=Sora:wght@100;300;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body);
  color: var(--text);
  margin: 0;
  padding: 0;
  padding-top: 70px;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Sora", sans-serif;
  transition: all 0.4s ease-in-out;
}

.container-internal {
  max-width: 1080px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
