@import "navbar.css";
@import "initialApresentation.css";
@import "animationsHome.css";
@import "keyframes.css";

body {
  background-color: var(--bg-body);
  color: var(--text);
  margin: 0;
  padding: 0;
  padding-top: 70px;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Sora", sans-serif;
  transition: all 0.4s ease-in-out;
  scroll-behavior: smooth;
}

.container {
  max-width: 1080px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
