:root {
  --bg-body-light: #fffafad0;
  --bg-color-light: #ffffff;
  --text-light: #1f5cbf;
  --text-hover-light: #6b8fc9;
  --bg-body-dark: #1f1e1b;
  --bg-color-dark: #000;
  --text-dark: #f7df1e;
  --text-hover-dark: #fde951;
  --shadow: -25px 25px 50px #e3e3e3, 25px -25px 50px #ffffff;
}
